/* base */

:root {
  --scrollbar-color: #dbe1ff;
}

:root.dark {
  --scrollbar-color: #a8b2d1;
}

/* scrollbars */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

/* del tag */

del {
  text-decoration: none;
  color: transparent;
}

del:hover {
  color: black;
}

:root.dark del:hover {
  color: white;
}
